/* Everforest Dark Hard GTK Override */
@define-color accent_color #a7c080; /* Green */
@define-color accent_bg_color #a7c080;
@define-color accent_fg_color #272e33;

@define-color window_bg_color #272e33;
@define-color window_fg_color #d3c6aa;

@define-color view_bg_color #2e383c;
@define-color view_fg_color #d3c6aa;

@define-color headerbar_bg_color #1e2326;
@define-color headerbar_fg_color #d3c6aa;
@define-color headerbar_border_color #374145;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

@define-color card_bg_color #2e383c;
@define-color card_fg_color #d3c6aa;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color popover_bg_color #2e383c;
@define-color popover_fg_color #d3c6aa;

@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
