/* Everforest Dark Hard */
@define-color base      #272e33;
@define-color mantle    #2e383c;
@define-color text      #d3c6aa;
@define-color subtext0  #9da9a0;
@define-color surface0  #374145;
@define-color surface1  #414b50;
@define-color accent    #a7c080; /* Green */
