/* https://walkerlauncher.com/docs/theming */

/* Color variables names */
/* @define-color background @base; */
/* @define-color input_bg   @surface; */
/* @define-color input_text @text; */
/* @define-color selected   @highlight_low; */
/* @define-color accent     @iris; */
/* @define-color border     @pine; */

* {
  all: unset;
}

popover {
  background: @input_bg;
  border: 1px solid @border;
  border-radius: 18px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @background;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid @border;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @input_text;
}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: @selected;
}

.input {
  caret-color: @input_text;
  background: @input_bg;
  padding: 10px;
  color: @input_text;
}

.list {
  color: @input_text;
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@selected, 0.25);
  border-radius: 5px;
  padding: 10px;
}

child:selected .item-box {
  background: alpha(@selected, 0.25);
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@selected, 0.25);
  border-radius: 10px;
  color: @input_text;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid @input_bg;
  font-size: 12px;
  color: @input_text;
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid @input_text;
}

.error {
  padding: 10px;
  background: @accent;
  color: @background;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs, .preview-content.dnfpackages {
  font-family: monospace;
}
