/* Rose Pine */
@define-color base      #191724;
@define-color mantle    #1f1d2e;
@define-color text      #e0def4;
@define-color subtext0  #908caa;
@define-color surface0  #21202e;
@define-color surface1  #403d52;
@define-color accent    #c4a7e7; /* Iris */
