/* Rose-Pine Main */

@define-color base           #191724;
@define-color surface        #1f1d2e;
@define-color overlay        #26233a;
@define-color muted          #6e6a86;
@define-color subtle         #908caa;
@define-color text           #e0def4;
@define-color love           #eb6f92;
@define-color gold           #f6c177;
@define-color rose           #ebbcba;
@define-color pine           #31748f;
@define-color foam           #9ccfd8;
@define-color iris           #c4a7e7;
@define-color highlight_low  #21202e;
@define-color highlight_med  #403d52;
@define-color highlight_high #524f67;

/* Semantic Mappings for Prism */
@define-color mantle      @surface;
@define-color crust       @base;

@define-color subtext0    @subtle;
@define-color subtext1    @muted;

@define-color surface0    @highlight_low;
@define-color surface1    @highlight_med;
@define-color surface2    @highlight_high;

@define-color overlay0    @overlay;
@define-color overlay1    @muted;
@define-color overlay2    @subtle;

/* Map standard colors */
@define-color blue        @pine;
@define-color teal        @foam;
@define-color red         @love;
@define-color yellow      @gold;
@define-color mauve       @iris;
@define-color pink        @rose;
@define-color green       #31748f; /* Approximate Pine as green alt */
