/* Catppuccin Mocha Palette for Walker */

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color text   #cdd6f4;
@define-color mauve  #cba6f7;
@define-color blue   #89b4fa;
@define-color surface #313244;
@define-color overlay #6c7086;

/* Semantic Names */
@define-color background @base;
@define-color input_bg   @mantle;
@define-color input_text @text;
@define-color selected   @surface;
@define-color accent     @mauve;
@define-color border     @blue;
