/* Nord GTK Override */
@define-color accent_color #88c0d0;
@define-color accent_bg_color #88c0d0;
@define-color accent_fg_color #2e3440;

@define-color window_bg_color #2e3440;
@define-color window_fg_color #d8dee9;

@define-color view_bg_color #3b4252;
@define-color view_fg_color #d8dee9;

@define-color headerbar_bg_color #3b4252;
@define-color headerbar_fg_color #d8dee9;
@define-color headerbar_border_color #4c566a;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.1);

@define-color card_bg_color #3b4252;
@define-color card_fg_color #d8dee9;

@define-color popover_bg_color #3b4252;
@define-color popover_fg_color #d8dee9;
