/* Flexoki Light GTK Override */
@define-color accent_color #24837B;
@define-color accent_bg_color #24837B;
@define-color accent_fg_color #FFFCF0;

@define-color window_bg_color #FFFCF0;
@define-color window_fg_color #100F0F;

@define-color view_bg_color #F2F0E5;
@define-color view_fg_color #100F0F;

@define-color headerbar_bg_color #F2F0E5;
@define-color headerbar_fg_color #100F0F;
@define-color headerbar_border_color #E6E4D9;

@define-color card_bg_color #F2F0E5;
@define-color card_fg_color #100F0F;
