/* Tokyo Night Moon GTK Override */
@define-color accent_color #82aaff;
@define-color accent_bg_color #82aaff;
@define-color accent_fg_color #1b1d2b;

@define-color window_bg_color #222436;
@define-color window_fg_color #c8d3f5;

@define-color view_bg_color #1b1d2b;
@define-color view_fg_color #c8d3f5;

@define-color headerbar_bg_color #1b1d2b;
@define-color headerbar_fg_color #c8d3f5;
@define-color headerbar_border_color #444a73;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.1);

@define-color card_bg_color #2d3f76;
@define-color card_fg_color #c8d3f5;
@define-color card_shade_color rgba(0, 0, 0, 0.1);

@define-color popover_bg_color #1b1d2b;
@define-color popover_fg_color #c8d3f5;

@define-color shade_color rgba(0, 0, 0, 0.1);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
