/* Catppuccin Mocha GTK Override */
@define-color accent_color #cba6f7;
@define-color accent_bg_color #cba6f7;
@define-color accent_fg_color #1e1e2e;

@define-color window_bg_color #1e1e2e;
@define-color window_fg_color #cdd6f4;

@define-color view_bg_color #181825;
@define-color view_fg_color #cdd6f4;

@define-color headerbar_bg_color #11111b;
@define-color headerbar_fg_color #cdd6f4;
@define-color headerbar_border_color #313244;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

@define-color card_bg_color #181825;
@define-color card_fg_color #cdd6f4;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color popover_bg_color #181825;
@define-color popover_fg_color #cdd6f4;

@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
