/* Catppuccin Mocha */
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color text      #cdd6f4;
@define-color subtext0  #a6adc8;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color accent    #cba6f7; /* Mauve */
